<!DOCTYPE html>
<html>
  <head>
    <title>GameAutoMakerServer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container has-text-info"><%= notice %></div>
    <div class="container has-text-danger"><%= alert %></div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer is-max-desktop">
      <% if Rails.env.development? %>
        <p class="has-text-centered title">
          <strong>Development zone</strong>
        </p>
        <%= button_to "Reset database", reset_all_path, method: :post, class: "button is-danger is-medium is-dark" %>
      <% end %>
      GameAutoMaker &copy; 2021
    </div>
  </body>
</html>
